<?xml version
="1.0" encoding
="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:s="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/chaussure"></property>
		<property name="username" value="java1"></property>
		<property name="password" value="java1"></property>
	</bean>

	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"></property>
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"></property>
		<property name="persistenceUnitName" value="UP_BOUTIQUE"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.fitec.boutique"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>




	<bean id="daoAdmin" class="com.fitec.boutique.dao.AdminDAOImpl"></bean>
	<bean id="serviceAdmin" class="com.fitec.boutique.service.AdminServiceImpl">
		<property name="dao" ref="daoAdmin"></property>
	</bean>

	<bean id="daoArticle" class="com.fitec.boutique.dao.ArticleDAOImpl"></bean>
	<bean id="serviceArticle" class="com.fitec.boutique.service.ArticleServiceImpl">

		<property name="daoArticle" ref="daoArticle"></property>
	</bean>

	<bean id="daoClient" class="com.fitec.boutique.dao.ClientDAOImpl"></bean>
	<bean id="serviceClient" class="com.fitec.boutique.service.ClientServiceImpl">

		<property name="daoClient" ref="daoClient"></property>
	</bean>

	<bean id="daoModel" class="com.fitec.boutique.dao.ModelDAOImpl"></bean>
	<bean id="serviceModel" class="com.fitec.boutique.service.ModelServiceImpl">

		<property name="daoModel" ref="daoModel"></property>
	</bean>

	<bean id="daoCategorie" class="com.fitec.boutique.dao.CategorieDAOImpl"></bean>
	<bean id="serviceCategorie" class="com.fitec.boutique.service.CategorieServiceImpl">

		<property name="daoCategorie" ref="daoCategorie"></property>
	</bean>

	<bean id="daoCommande" class="com.fitec.boutique.dao.CommandeDAOImpl"></bean>
	<bean id="serviceCommande" class="com.fitec.boutique.service.CommandeServiceImpl">

		<property name="daoCommande" ref="daoCommande"></property>
	</bean>

	<bean id="daoPhoto" class="com.fitec.boutique.dao.PhotoDAOImpl"></bean>
	<bean id="servicePhoto" class="com.fitec.boutique.service.PhotoServiceImpl">

		<property name="daoPhoto" ref="daoPhoto"></property>
	</bean>

	<s:http>
		<s:intercept-url pattern="/" access="ROLE_ADMIN"></s:intercept-url>
		<s:form-login login-page="/login" default-target-url="/"
			authentication-failure-url="/login" />
		<s:logout logout-success-url="/login" />
		<!-- <s:csrf disabled="true" /> -->
	</s:http>
	<s:authentication-manager>
		<s:authentication-provider>
			<!-- <s:password-encoder hash="md5"></s:password-encoder> <s:jdbc-user-service 
				data-source-ref="datasource" users-by-username-query="select nom_admin,mdp_admin, 
				actived from admin where nom_admin=?" authorities-by-username-query="select 
				a.nom_admin, r.nom_role from admin a, roles r where a.id_admin = r.admin_id 
				and a.nom_admin =? " /> -->

			<s:user-service>
				<s:user name="admin" password="admin" authorities="ROLE_ADMIN" />

			</s:user-service>
		</s:authentication-provider>
	</s:authentication-manager>
</beans>

